@import './color.css';

.box {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.destaques {
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
}

.destaques__titulo {
    background: rgba(0, 0, 0, .5);
    color:var(--blanco);
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.destaques__principal {
    background: url('../img/destaques/copa.jpg') center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 1 / 3;

}

.destaques__secundario:nth-child(2) {
    background: url('../img/destaques/figurita1.jpg') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    
}

.destaques__secundario:nth-child(3) {
    background: url('../img/destaques/comic12.jpg') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.destaques__secundario:nth-child(4) {
    background: url('../img/destaques/manga1.jpg') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.destaques__secundario:nth-child(5) {
    background: url('../img/destaques/coleccion1.jpg') center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}
.destaques__terciario {
    background: url('../img/destaques/evento9.avif') center / cover no-repeat;
    grid-column: 1/3;
    grid-row: 3 / 3;

}



@media only screen and (max-width: 600px) {
        .destaques {
            grid-template-columns: 50% 50%;
            grid-template-rows: 33.33% 33.33% 33.33%;
        }
    
        .destaques__principal {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    
        .destaques__terciario {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    
        .destaques__secundario:nth-child(n) {
            display: block;
            grid-column: auto;
            grid-row: auto;
        }
    
        .destaques__secundario:nth-child(1) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    
        .destaques__secundario:nth-child(6) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        .destaques__titulo {
            position: static; 
            align-self: flex-start; 
        }
}


