@import './color.css';

* {
    box-sizing: border-box;
}

html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
  
  
  body {
    margin: 0;
  }
  
  
  main {

    padding: 30px 60px;
  }
  

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color:var(--blanco);
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

a {
    text-decoration: none !important;
}

  
  img {
    border-style: none;
  }

.app {
    background: var(--negro);
    display: flex;  
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    justify-content: space-between;
}


.contenido {
    padding: 0 2rem;
}

